<div class="nav">
    <div class="wrapper">
        <div class="container">
            <div class="logo"><a href="/">JustSong</a></div>
            <div class="others">
                <a href="">Home</a>
                <a href="">Me</a>
                <a href="">Settings</a>
                <a href="">Sign Out</a>
            </div>
        </div>
    </div>
</div>