<div class="nav">
    <div class="wrapper">
        <div class="container">
            <div class="logo"><a href="/">JustSong</a></div>
            <div class="others">
                <a href="/">首页</a>
                <% if(loggedin) { %>
                <a href="/api/user/logout">登出</a>
                <% } else { %>
                <a href="/signup">注册</a>
                <a href="/signin">登录</a>
                <% }%>
            </div>
        </div>
    </div>
</div>