<div class="panel">
    <div class="cell">Panel</div>
    <div class="cell">
        <a href="/new"><span class="icon">📝</span> 创作新主题</a>
    </div>
    <div class="cell">
        <a href="https://github.com/songquanpeng/v2ex"><span class="icon">⭐</span> 在 Github 上收藏本系统</a>
    </div>

</div>