<%- include('./partials/header') %>
<%- include('./partials/nav')%>

<div class="main">
    <div class="wrapper">
        <div class="main-content">
            <% if(message.length) {%>
                <div class="message">
                    <%= message %>
                </div>
            <% }%>
            <form method="post" action="/api/page/" style="margin: 0;">
                <div class="cell">主题标题</div>
                <div class="cell" style="padding: 0">
                    <input type="text" name="title" required class="full-input" placeholder="请输入主题标题，如果标题能够表达完整内容，则正文可以为空">
                </div>
                <div class="cell">正文</div>
                <textarea id="editor" name="content" required></textarea>
                <script>
                  const editor = new SimpleMDE({
                    element: document.getElementById("editor"),
                    forceSync: true,
                    autofocus: true,
                    autosave: {
                      enabled: true,
                      uniqueId: "main-editor",
                      delay: 10000
                    },
                    toolbar: false,
                    status: false,
                    spellChecker: false,
                  });

                  function togglePreview() {
                    editor.togglePreview();
                  }
                </script>
                <div class="cell">节点</div>
                <div class="cell" style="padding: 0">
                    <input type="text" name="tag" required class="full-input" placeholder="请输入一个节点" value="默认">
                </div>
                <div class="cell">
                    <button type="button" class="button" onclick="togglePreview()">预览主题</button>
                    <input type="submit" class="button" style="float: right" value="发布主题">
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>
