<%- include('./partials/header') %>
<%- include('./partials/nav')%>

<div class="main">
    <div class="wrapper">
        <div class="main-content">
            <% if(message.length) {%>
                <div class="cell">
                    <%= message %>
                </div>
            <% }%>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
