<%- include('./partials/header') %>
<%- include('./partials/nav')%>

<div class="main">
    <div class="wrapper">
        <div class="main-content">
            <div class="main-tabs">
                <a href="" class="tab focus">技术</a>
                <a href="" class="tab">创意</a>
                <a href="" class="tab">好玩</a>
                <a href="" class="tab">交易</a>
                <a href="" class="tab">问与答</a>
                <a href="" class="tab">最热</a>
                <a href="" class="tab">全部</a>
                <a href="" class="tab">关注</a>
            </div>
            <div class="secondary-tabs">
                <a href="">C++</a>
                <a href="">Java</a>
                <a href="">Python</a>
                <a href="">JavaScript</a>
                <a href="">Go</a>
            </div>
            <div class="item">
                <img src="https://cdn.v2ex.com/gravatar/74d75dae2b7e9f46229252a8315fe280?s=48&amp;d=retro" class="avatar" alt="">
                <div class="item-content">
                    <a href="" class="title">标题</a>
                    <div class="info">
                        <a class="node" href="">程序员</a>
                        &nbsp;•&nbsp;
                        <strong><a href="" class="username">JustSong</a></strong>
                        &nbsp;•&nbsp;
                        2020-08-02 08:55:35
                        Lastly replied by
                        <strong><a href="" class="username">JustSong</a></strong>
                    </div>
                </div>
                <div class="counter">
                    <a href="">6</a>
                </div>
            </div>
            <div class="paginator">

            </div>
        </div>
        <div class="right-bar">

        </div>
    </div>
</div>

<%- include('./partials/footer') %>
